In [1]:
import findspark
findspark.init("/usr/local/spark")
import pyspark

*importing required packages*

In [2]:
import os
import pandas as pd
from pyspark.sql import SparkSession

*Create object of spark session and loading the data*

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml-model').getOrCreate()
df = spark.read.csv('final_csv.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Sno: integer (nullable = true)
 |-- Candidate Ref: integer (nullable = true)
 |-- DOJ Extended: string (nullable = true)
 |-- Duration to accept offer: integer (nullable = true)
 |-- Notice period: integer (nullable = true)
 |-- Offered band: string (nullable = true)
 |-- Pecent hike expected in CTC: double (nullable = true)
 |-- Percent hike offered in CTC: double (nullable = true)
 |-- Percent difference CTC: double (nullable = true)
 |-- Joining Bonus: string (nullable = true)
 |-- Candidate relocate actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate Source: string (nullable = true)
 |-- Rex in Yrs: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- LOB_id: integer (nullable = true)
 |-- LOB: string (nullable = true)
 |-- Status: string (nullable = true)

In [4]:


#Check dimension's
print((df.count(),len(df.columns)))

(8995, 20)

In [5]:
df.toPandas()

,_c0,Sno,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,Location,Age,LOB_id,LOB,Status
0,0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,Noida,34.0,1,ERS,Joined
1,1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,Chennai,34.0,2,INFRA,Joined
2,2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,Noida,27.0,2,INFRA,Joined
3,3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,Noida,34.0,2,INFRA,Joined
4,4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,Noida,34.0,2,INFRA,Joined
5,5,6,2117167,Yes,17,30,E1,42.83,42.83,0.00,No,No,Male,Employee Referral,2,Noida,34.0,2,INFRA,Joined
6,6,7,2119124,Yes,37,30,E2,31.58,31.58,0.00,No,No,Male,Employee Referral,7,Noida,32.0,2,INFRA,Joined
7,7,9,2127572,Yes,16,0,E1,-20.00,-20.00,0.00,No,No,Female,Direct,8,Noida,34.0,3,Healthcare,Joined
8,8,11,2138169,No,1,30,E1,-22.22,-22.22,0.00,No,No,Female,Employee Referral,3,Gurgaon,26.0,4,BFSI,Joined
9,9,12,2143362,No,6,30,E1,240.00,220.00,-5.88,No,No,Male,Employee Referral,3,Chennai,34.0,5,CSMP,Joined
10,10,13,2151180,No,120,30,E2,5.26,-60.53,-62.50,No,No,Male,Employee Referral,3,Noida,34.0,2,INFRA,Not Joined
11,11,14,2154264,No,3,0,E2,28.21,37.18,7.00,No,No,Male,Employee Referral,7,Chennai,34.0,2,INFRA,Joined
12,12,15,2156236,Yes,14,30,E2,50.00,287.50,158.33,No,No,Male,Agency,7,Noida,29.0,2,INFRA,Not Joined
13,13,16,2158703,No,44,75,E2,45.45,60.00,10.00,No,No,Male,Direct,8,Noida,34.0,2,INFRA,Not Joined
14,14,17,2161257,No,7,30,E3,53.85,50.00,-2.50,No,No,Male,Employee Referral,5,Noida,34.0,2,INFRA,Not Joined
15,15,18,2162487,No,1,30,E3,-27.31,-27.31,0.00,No,No,Male,Direct,18,Bangalore,34.0,6,ETS,Joined
16,16,19,2166041,Yes,98,30,E2,50.00,165.36,76.91,No,No,Male,Agency,8,Noida,36.0,2,INFRA,Not Joined
17,17,20,2172982,No,1,0,E2,30.00,30.00,0.00,No,No,Male,Direct,6,Noida,34.0,2,INFRA,Joined
18,18,21,2173730,No,1,30,E1,-13.42,42.86,65.00,No,No,Male,Direct,1,Gurgaon,34.0,2,INFRA,Joined
19,19,22,2175237,No,7,30,E1,221.43,164.29,-17.78,No,No,Male,Direct,2,Noida,34.0,1,ERS,Joined
20,20,23,2175323,No,1,0,E3,42.78,42.78,0.00,No,Yes,Male,Employee Referral,8,Chennai,29.0,2,INFRA,Joined
21,21,24,2184108,No,0,30,E1,37.50,37.50,0.00,No,No,Female,Employee Referral,3,Chennai,30.0,1,ERS,Joined
22,22,25,2188014,No,1,0,E2,42.86,42.86,0.00,No,No,Male,Direct,5,Noida,30.0,2,INFRA,Joined
23,23,26,2191237,Yes,83,60,E2,25.00,25.00,0.00,No,No,Male,Direct,5,Noida,30.0,7,AXON,Joined
24,24,27,2194323,No,1,0,E3,114.82,42.86,-33.50,No,No,Male,Direct,6,Noida,31.0,2,INFRA,Joined
25,25,28,2205244,No,16,60,E1,41.18,0.00,-29.17,No,No,Male,Direct,7,Noida,31.0,7,AXON,Not Joined
26,26,29,2205496,Yes,32,120,E3,50.97,57.00,4.00,No,No,Male,Direct,13,Chennai,40.0,1,ERS,Joined
27,27,30,2207823,Yes,19,30,E1,42.85,42.85,0.00,No,No,Male,Direct,7,Noida,28.0,2,INFRA,Joined
28,28,31,2211699,Yes,0,0,E2,23.08,15.38,-6.25,No,No,Male,Employee Referral,6,Chennai,34.0,4,BFSI,Not Joined
29,29,32,2214217,No,4,30,E2,-2.17,-2.17,0.00,No,No,Female,Employee Referral,5,Chennai,33.0,1,ERS,Joined
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,8965,12232,3781517,No,7,0,E2,28.57,57.14,22.22,No,No,Female,Employee Referral,8,Noida,34.0,8,EAS,Joined
8966,8966,12236,3785141,Yes,7,0,E0,80.00,80.00,0.00,No,No,Male,Direct,1,Chennai,34.0,7,AXON,Joined
8967,8967,12239,3785313,No,1,0,E1,0.00,-10.00,-10.00,No,No,Male,Direct,1,Bangalore,34.0,2,INFRA,Joined
8968,8968,12241,3785527,No,0,0,E1,0.00,0.00,0.00,No,No,Male,Agency,6,Chennai,34.0,1,ERS,Joined
8969,8969,12243,3785691,Yes,12,30,E1,40.00,10.00,-21.43,No,No,Male,Direct,6,Hyderabad,34.0,6,ETS,Joined
8970,8970,12244,3786087,No,2,0,E2,10.29,10.29,0.00,No,Yes,Male,Direct,2,Chennai,34.0,2,INFRA,Joined
8971,8971,12245,3786517,No,4,30,E1,75.00,71.46,-2.02,No,No,Male,Direct,5,Noida,34.0,2,INFRA,Joined
8972,8972,12246,3786639,No,2,0,E1,42.86,42.86,0.00,No,No,Male,Employee Referral,0,Mumbai,34.0,4,BFSI,Joined
8973,8973,12247,3791441,No,1,0,E1,48.81,48.81,0.00,No,No,Male,Employee Referral,1,Bangalore,34.0,7,AXON,Joined
8974,8974,12251,3796690,No,10,30,E1,53.85,53.85,0.00,No,No,Male,Direct,3,Noida,34.0,6,ETS,Joined
8975,8975,12253,3796931,No,1,30,E2,35.20,35.20,0.00,No,No,Male,Direct,3,Noida,34.0,2,INFRA,Joined
8976,8976,12254,3796981,No,2,0,E3,38.89,38.89,0.00,No,No,Male,Employee Referral,8,Chennai,34.0,2,INFRA,Joined
8977,8977,12266,3797489,Yes,2,0,E1,21.43,-14.29,-29.41,No,No,Female,Direct,4,Bangalore,34.0,6,ETS,Joined
8978,8978,12271,3798484,No,4,0,E1,10.00,10.00,0.00,No,No,Male,Employee Referral,3,Chennai,34.0,2,INFRA,Not Joined
8979,8979,12280,3802744,Yes,2,0,E1,15.38,15.38,0.00,No,No,Male,Agency,1,Chennai,34.0,2,INFRA,Joined
8980,8980,12285,3807061,No,6,0,E2,45.52,45.52,0.00,No,No,Female,Agency,7,Chennai,34.0,1,ERS,Joined
8981,8981,12286,3807072,No,0,0,E1,6.15,6.15,0.00,Yes,No,Male,Agency,4,Chennai,34.0,1,ERS,Joined
8982,8982,12289,3807143,Yes,0,0,E1,87.50,118.75,16.67,No,No,Female,Direct,2,Chennai,34.0,1,ERS,Joined
8983,8983,12290,3807302,No,7,60,E2,0.00,0.00,0.00,No,No,Female,Direct,3,Chennai,34.0,2,INFRA,Joined
8984,8984,12291,3808142,No,1,30,E1,71.43,42.86,-16.67,No,No,Male,Direct,2,Noida,34.0,2,INFRA,Joined
8985,8985,12294,3815009,No,5,0,E3,9.68,9.68,0.00,No,Yes,Male,Employee Referral,5,Chennai,34.0,2,INFRA,Joined
8986,8986,12295,3815263,No,2,0,E1,25.00,25.00,0.00,No,No,Male,Direct,1,Chennai,34.0,2,INFRA,Joined
8987,8987,12304,3821185,No,2,0,E1,49.07,42.59,-4.35,No,No,Male,Agency,5,Noida,34.0,1,ERS,Joined
8988,8988,12305,3821706,No,1,30,E1,96.85,75.20,-11.00,No,No,Male,Agency,4,Pune,34.0,1,ERS,Joined
8989,8989,12309,3822084,No,0,30,E1,50.00,50.00,0.00,No,No,Female,Agency,4,Chennai,34.0,2,INFRA,Not Joined
8990,8990,12319,3822427,No,4,0,E1,191.67,191.67,0.00,No,No,Male,Employee Referral,1,Chennai,34.0,1,ERS,Joined
8991,8991,12327,3828206,Yes,2,0,E1,150.00,150.00,0.00,No,No,Female,Direct,3,Chennai,34.0,4,BFSI,Joined
8992,8992,12331,3834159,No,0,0,E2,35.42,35.42,0.00,No,No,Male,Direct,5,Noida,34.0,2,INFRA,Joined
8993,8993,12332,3835433,No,0,30,E1,76.92,53.85,-13.04,No,No,Male,Direct,4,Noida,34.0,2,INFRA,Joined
8994,8994,12333,3836076,No,2,0,E1,45.25,14.09,-21.45,No,No,Female,Employee Referral,1,Chennai,34.0,2,INFRA,Joined

In [6]:
#Drop unwanted columns
data = df.drop(*['_c0', 'Sno', 'Candidate Ref','Percent difference CTC','Percent hike offered in CTC','LOB_id','Age','Pecent hike expected in CTC'])
data.columns

['DOJ Extended',
 'Duration to accept offer',
 'Notice period',
 'Offered band',
 'Joining Bonus',
 'Candidate relocate actual',
 'Gender',
 'Candidate Source',
 'Rex in Yrs',
 'Location',
 'LOB',
 'Status']

In [7]:
data.dtypes

[('DOJ Extended', 'string'),
 ('Duration to accept offer', 'int'),
 ('Notice period', 'int'),
 ('Offered band', 'string'),
 ('Joining Bonus', 'string'),
 ('Candidate relocate actual', 'string'),
 ('Gender', 'string'),
 ('Candidate Source', 'string'),
 ('Rex in Yrs', 'int'),
 ('Location', 'string'),
 ('LOB', 'string'),
 ('Status', 'string')]

*data transforming*

In [8]:
data=data.withColumnRenamed("DOJ Extended","DOJ_Extended")\
    .withColumnRenamed("Duration to accept offer","Duration_to_accept_offer")\
    .withColumnRenamed("Notice period","Notice_period")\
    .withColumnRenamed("Offered band","Offered_band")\
    .withColumnRenamed("Joining Bonus","Joining_Bonus")\
    .withColumnRenamed("Candidate relocate actual","Candidate_relocate_actual")\
    .withColumnRenamed("Candidate Source","Candidate_Source")\
    .withColumnRenamed("Rex in Yrs","Rex_in_Yrs")

*Using HotEncoder for categorial data*

In [9]:
#new code for hotencoder
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

categorical_columns= ['DOJ_Extended', 'Offered_band', 'Joining_Bonus', 'Candidate_relocate_actual','Gender','Candidate_Source','Location','LOB','Status']

# The index of string vlaues multiple columns
indexers = [
    StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c))
    for c in categorical_columns
]

# The encode of indexed vlaues multiple columns
encoders = [OneHotEncoder(dropLast=False,inputCol=indexer.getOutputCol(),
            outputCol="{0}_encoded".format(indexer.getOutputCol())) 
    for indexer in indexers
]

# Vectorizing encoded values
assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders],outputCol="features")

pipeline = Pipeline(stages=indexers + encoders+[assembler])
model=pipeline.fit(data)
data = data.fillna(0)
final = model.transform(data)

In [10]:
#Drop unwanted columns
final = final.drop(*['DOJ_Extended_indexed_encoded','Joining_Bonus_indexed_encoded','Status_indexed_encoded','LOB_indexed_encoded','Location_indexed_encoded','Candidate_Source_indexed_encoded','Gender_indexed_encoded','Candidate_relocate_actual_indexed_encoded','Offered_band_indexed_encoded','Gender','features','DOJ_Extended', 'Offered_band', 'Joining_Bonus','Candidate_relocate_actual','Candidate_Source','Location','Status','LOB'])
final.columns

['Duration_to_accept_offer',
 'Notice_period',
 'Rex_in_Yrs',
 'DOJ_Extended_indexed',
 'Offered_band_indexed',
 'Joining_Bonus_indexed',
 'Candidate_relocate_actual_indexed',
 'Gender_indexed',
 'Candidate_Source_indexed',
 'Location_indexed',
 'LOB_indexed',
 'Status_indexed']

*Assemble the required features with VectorAssembler*

In [11]:
# Assemble all the features with VectorAssembler
required_features = ['DOJ_Extended_indexed',
                    'Duration_to_accept_offer',
                    'Notice_period',
                    'Offered_band_indexed',
                    'Joining_Bonus_indexed',
                    'Candidate_relocate_actual_indexed',
                    'Candidate_Source_indexed',
                    'Location_indexed',
                    'Rex_in_Yrs'
                   ]

from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=required_features, outputCol='features')

transformed_data = assembler.transform(final)
transformed_data

DataFrame[Duration_to_accept_offer: int, Notice_period: int, Rex_in_Yrs: int, DOJ_Extended_indexed: double, Offered_band_indexed: double, Joining_Bonus_indexed: double, Candidate_relocate_actual_indexed: double, Gender_indexed: double, Candidate_Source_indexed: double, Location_indexed: double, LOB_indexed: double, Status_indexed: double, features: vector]

In [12]:
import pandas as pd
pd.DataFrame(transformed_data.take(5), columns=transformed_data.columns).transpose()

,0,1,2,3,4
Duration_to_accept_offer,14,18,3,26,1
Notice_period,30,30,45,30,120
Rex_in_Yrs,7,8,4,4,6
DOJ_Extended_indexed,1,0,0,0,1
Offered_band_indexed,1,1,1,1,1
Joining_Bonus_indexed,0,0,0,0,0
Candidate_relocate_actual_indexed,0,0,0,0,1
Gender_indexed,1,0,0,0,0
Candidate_Source_indexed,1,2,1,2,2
Location_indexed,1,0,1,1,1
LOB_indexed,1,0,0,0,0
Status_indexed,0,0,0,0,0
features,"[1.0, 14.0, 30.0, 1.0, 0.0, 0.0, 1.0, 1.0, 7.0]","[0.0, 18.0, 30.0, 1.0, 0.0, 0.0, 2.0, 0.0, 8.0]","[0.0, 3.0, 45.0, 1.0, 0.0, 0.0, 1.0, 1.0, 4.0]","[0.0, 26.0, 30.0, 1.0, 0.0, 0.0, 2.0, 1.0, 4.0]","[1.0, 1.0, 120.0, 1.0, 0.0, 1.0, 2.0, 1.0, 6.0]"

In [13]:


#Model_Dataframe
model_df = transformed_data.select(['features','Status_Indexed'])
model_df = model_df.withColumnRenamed("Status_Indexed","label")
model_df.printSchema()

root
 |-- features: vector (nullable = true)
 |-- label: double (nullable = true)

*Spliting into training & testing Dataframe*

In [14]:


#Split into training & testing Dataframe
training_df,test_df = model_df.randomSplit([0.75,0.25])

**Model- Decision Tree**

In [15]:


#Decision Tree Classifier
from pyspark.ml.classification import DecisionTreeClassifier
dt = DecisionTreeClassifier(featuresCol = 'features', labelCol = 'label', maxDepth = 3)
dtModel = dt.fit(training_df)
predictions = dtModel.transform(test_df)
predictions.select('label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------+----------+--------------------+
|label| rawPrediction|prediction|         probability|
+-----+--------------+----------+--------------------+
|  0.0|[3185.0,586.0]|       0.0|[0.84460355343410...|
|  0.0|[3185.0,586.0]|       0.0|[0.84460355343410...|
|  1.0| [675.0,420.0]|       0.0|[0.61643835616438...|
|  0.0|[3185.0,586.0]|       0.0|[0.84460355343410...|
|  0.0| [675.0,420.0]|       0.0|[0.61643835616438...|
|  0.0| [675.0,420.0]|       0.0|[0.61643835616438...|
|  0.0|[3185.0,586.0]|       0.0|[0.84460355343410...|
|  1.0| [675.0,420.0]|       0.0|[0.61643835616438...|
|  1.0| [675.0,420.0]|       0.0|[0.61643835616438...|
|  0.0|[3185.0,586.0]|       0.0|[0.84460355343410...|
+-----+--------------+----------+--------------------+
only showing top 10 rows

*Evaluating the model*

In [16]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'label', metricName = 'accuracy')
print('Decision Tree Accuracy:', multi_evaluator.evaluate(predictions))

Decision Tree Accuracy: 0.8174748398902104

*Gradient Boosted Tree Classifier*

In [17]:


#Gradient-Boosted Tree Classifier
from pyspark.ml.classification import GBTClassifier
gbt = GBTClassifier(maxIter=10)
gbtModel = gbt.fit(training_df)
predictions = gbtModel.transform(test_df)
predictions.select('label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------------+----------+--------------------+
|label|       rawPrediction|prediction|         probability|
+-----+--------------------+----------+--------------------+
|  0.0|[0.85257949371547...|       0.0|[0.84620732786123...|
|  0.0|[0.84802374523115...|       0.0|[0.84501780914818...|
|  1.0|[0.11463416238998...|       0.0|[0.55706732617137...|
|  0.0|[0.65871521439731...|       0.0|[0.78875387916357...|
|  0.0|[0.09260494384440...|       0.0|[0.54617056604991...|
|  0.0|[0.09260494384440...|       0.0|[0.54617056604991...|
|  0.0|[0.79158688457706...|       0.0|[0.82965353156840...|
|  1.0|[0.09260494384440...|       0.0|[0.54617056604991...|
|  1.0|[0.09260494384440...|       0.0|[0.54617056604991...|
|  0.0|[0.77634712398489...|       0.0|[0.82530252436118...|
+-----+--------------------+----------+--------------------+
only showing top 10 rows

*Evaluating the Gradient Bossted Tree Classifier*

In [18]:

from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
#Evaluate our Gradient-Boosted Tree Classifier.
evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})))

Test Area Under ROC: 0.7438560461591125

In [19]:
print(gbt.explainParams())

cacheNodeIds: If false, the algorithm will pass trees to executors to match instances with nodes. If true, the algorithm will cache node IDs for each instance. Caching can speed up training of deeper trees. Users can set how often should the cache be checkpointed or disable it by setting checkpointInterval. (default: False)
checkpointInterval: set checkpoint interval (>= 1) or disable checkpoint (-1). E.g. 10 means that the cache will get checkpointed every 10 iterations. (default: 10)
featuresCol: features column name. (default: features)
labelCol: label column name. (default: label)
lossType: Loss function which GBT tries to minimize (case-insensitive). Supported options: logistic (default: logistic)
maxBins: Max number of bins for discretizing continuous features.  Must be >=2 and >= number of categories for any categorical feature. (default: 32)
maxDepth: Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. (default: 5)
maxIter: max number of iterations (>= 0). (default: 20, current: 10)
maxMemoryInMB: Maximum memory in MB allocated to histogram aggregation. If too small, then 1 node will be split per iteration, and its aggregates may exceed this size. (default: 256)
minInfoGain: Minimum information gain for a split to be considered at a tree node. (default: 0.0)
minInstancesPerNode: Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1. (default: 1)
predictionCol: prediction column name. (default: prediction)
seed: random seed. (default: 3447300010172315419)
stepSize: Step size to be used for each iteration of optimization (>= 0). (default: 0.1)
subsamplingRate: Fraction of the training data used for learning each decision tree, in range (0, 1]. (default: 1.0)

In [20]:


from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
paramGrid = (ParamGridBuilder()
             .addGrid(gbt.maxDepth, [2, 4, 6])
             .addGrid(gbt.maxBins, [20, 60])
             .addGrid(gbt.maxIter, [10, 20])
             .build())
cv = CrossValidator(estimator=gbt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)
# Run cross validations.  This can take about 6 minutes since it is training over 20 trees!
cvModel = cv.fit(training_df)
predictions = cvModel.transform(test_df)
evaluator.evaluate(predictions)

0.7608269242859254